src/*.exe
src/unbreakablecoin
src/unbreakablecoind
src/test_unbreakablecoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.unbreakablecoin

# Compilation and Qt preprocessor part
*.qm
Makefile
unbreakablecoin-qt
Unbreakablecoin-Qt.app

# Unit-tests
Makefile.test
unbreakablecoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
